################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sudoku/.vs/Sudoku/v15
/Sudoku/Sudoku/bin/Debug/netstandard2.0
/Sudoku/Sudoku/obj
/Sudoku/TestSudoku/bin/Debug/netcoreapp2.1
/Sudoku/TestSudoku/obj
/ZoomGps/TestZoomGps/obj
/ZoomGps/TestZoomGps/bin/Debug/netcoreapp3.1
/ZoomGps/ZoomGps/bin/Debug/netstandard2.0
/ZoomGps/ZoomGps/obj
/.vs/IAPractice/v16
/Sudoku/.vs
/TravelingSalesmanProblem/TestTsp/bin/Debug/netcoreapp3.1
/TravelingSalesmanProblem/TestTsp/obj
/TravelingSalesmanProblem/TSP/bin/Debug/netstandard2.0
/TravelingSalesmanProblem/TSP/obj
